.CodeEditorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1c1c;
  padding: 0 20px; 
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right:550px;
}

.logo {
  width: 30px; 
  height: 30px; 
}

.title {
  color: white;
  margin-left: 10px; /* Adjust spacing between logo and title */
  font-size: 20px;
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.run-button button {
  padding: 5px 20px; 
  background-color: #340e72; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.run-button:hover{
  background-color:aqua;
}


.right-section {
  display: flex;
  align-items: center;
  
}

.nav-links {
  display: flex;
  margin-left: 600px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px; /* Adjust spacing between links */
}

.nav-links a:last-child {
  margin-right: 0; /* Remove margin from the last link */
}
.nav-links a:hover {
  background-color: #340e72; 
}


.human-logo {
  margin-left: 20px; /* Adjust spacing between elements */
}

.human-logo img {
  width: 30px; 
  height: 35px; 
}




.content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.pane1,
.pane2,
.pane3 {
  height: calc(50% - 21px); /* Adjusted height to accommodate the top navigation bar */
}

.SplitPane {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #484747;
}

.Resizer.vertical {
  width: 10px;
  background-color: black;
  cursor: col-resize;
}

.Resizer.vertical:hover {
  background-color: darkgray;
}

/* Navigation menu styles */
.pane3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.pane3 li {
  float: left;
}

.pane3 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pane3 li a:hover:not(.active) {
  background-color:#7a3595;
}



/* Ace Editor styles */
.ace-editor {
  width: 100%; 
  height: 100%; 
}

.ace-editor .ace_content {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 14px; 
}

.ace-editor .ace_gutter {
  background-color: #d3c9c9; 
  color: #efe3e3; 
}

.ace-editor .ace_marker-layer .ace_active-line {
  background-color: #f5f5f5; 
}

.ace-editor .ace_marker-layer .ace_selection {
  background-color: #add8e6; 
}

/* Customize Ace Editor theme */
.ace-monokai .ace_gutter {
  background-color: #272822; 
  color: #d0d0d0; 
}

.ace-monokai .ace_marker-layer .ace_active-line {
  background-color: #3e3d32; 
}

.ace-monokai .ace_marker-layer .ace_selection {
  background-color: #49483e; 
}













